@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/SpaceMono-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
  }
}

.editor-container {
  height: 100%;
  width: 100%;
}
